# Hy Experimentation

I need to get more familiar with Hy, first, before I'll be able to do the SciPy Lectures in it.

In [1]:
(import [numpy :as np])
(require [helpers [*]])

[None, None]

In [2]:
(setv a (np.array [0 1 2 3]))

[None]

In [3]:
a

[array([0, 1, 2, 3])]

*NumPy arrays are memory efficient and optimized for numerical computations*

In [4]:
(cut [(import [time [time]])
(setv L (range 1000))
(setv time1 (time))
(lfor i L (** i 2))
(setv time2 (time))
(- time2 time1)] 3 6)

[[[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664, 11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689, 13924, 14161, 14400, 14641, 14884, 15129, 15376, 15625, 15876, 16129, 16384, 16641, 16900, 17161, 17424, 17689, 17956, 18225, 18496, 18769, 19044, 19321, 19600, 19881, 20164, 20449, 20736, 21025, 21316, 21609, 21904, 22201, 22500, 22801, 23104, 23409, 23716, 24025, 24336, 24649, 24964, 25281, 25600, 25921, 26244, 26569, 26896, 27225, 27556, 27889, 28224, 28561, 28900, 29241, 29584, 29929, 30276, 30625, 30976, 31329, 31684, 32041, 32400, 32761, 33124, 33489, 33856, 34225, 34596, 34969, 35344, 35721, 36100, 36481, 36864, 37249, 37636, 38025, 38416, 38809, 39204, 39601, 40000, 40401, 40804, 41209, 41616, 42025, 42436, 42849, 43264, 43681, 44100, 44521, 44944, 45369, 45796, 46225, 46656, 47089, 47524, 47961, 48400, 48841, 49284, 49729, 50176, 50625, 51076, 51529, 51984, 52441, 52900, 53361, 53824, 54289, 54756, 55225, 55696, 56169, 56644, 57121, 57600, 58081, 58564, 59049, 59536, 60025, 60516, 61009, 61504, 62001, 62500, 63001, 63504, 64009, 64516, 65025, 65536, 66049, 66564, 67081, 67600, 68121, 68644, 69169, 69696, 70225, 70756, 71289, 71824, 72361, 72900, 73441, 73984, 74529, 75076, 75625, 76176, 76729, 77284, 77841, 78400, 78961, 79524, 80089, 80656, 81225, 81796, 82369, 82944, 83521, 84100, 84681, 85264, 85849, 86436, 87025, 87616, 88209, 88804, 89401, 90000, 90601, 91204, 91809, 92416, 93025, 93636, 94249, 94864, 95481, 96100, 96721, 97344, 97969, 98596, 99225, 99856, 100489, 101124, 101761, 102400, 103041, 103684, 104329, 104976, 105625, 106276, 106929, 107584, 108241, 108900, 109561, 110224, 110889, 111556, 112225, 112896, 113569, 114244, 114921, 115600, 116281, 116964, 117649, 118336, 119025, 119716, 120409, 121104, 121801, 122500, 123201, 123904, 124609, 125316, 126025, 126736, 127449, 128164, 128881, 129600, 130321, 131044, 131769, 132496, 133225, 133956, 134689, 135424, 136161, 136900, 137641, 138384, 139129, 139876, 140625, 141376, 142129, 142884, 143641, 144400, 145161, 145924, 146689, 147456, 148225, 148996, 149769, 150544, 151321, 152100, 152881, 153664, 154449, 155236, 156025, 156816, 157609, 158404, 159201, 160000, 160801, 161604, 162409, 163216, 164025, 164836, 165649, 166464, 167281, 168100, 168921, 169744, 170569, 171396, 172225, 173056, 173889, 174724, 175561, 176400, 177241, 178084, 178929, 179776, 180625, 181476, 182329, 183184, 184041, 184900, 185761, 186624, 187489, 188356, 189225, 190096, 190969, 191844, 192721, 193600, 194481, 195364, 196249, 197136, 198025, 198916, 199809, 200704, 201601, 202500, 203401, 204304, 205209, 206116, 207025, 207936, 208849, 209764, 210681, 211600, 212521, 213444, 214369, 215296, 216225, 217156, 218089, 219024, 219961, 220900, 221841, 222784, 223729, 224676, 225625, 226576, 227529, 228484, 229441, 230400, 231361, 232324, 233289, 234256, 235225, 236196, 237169, 238144, 239121, 240100, 241081, 242064, 243049, 244036, 245025, 246016, 247009, 248004, 249001, 250000, 251001, 252004, 253009, 254016, 255025, 256036, 257049, 258064, 259081, 260100, 261121, 262144, 263169, 264196, 265225, 266256, 267289, 268324, 269361, 270400, 271441, 272484, 273529, 274576, 275625, 276676, 277729, 278784, 279841, 280900, 281961, 283024, 284089, 285156, 286225, 287296, 288369, 289444, 290521, 291600, 292681, 293764, 294849, 295936, 297025, 298116, 299209, 300304, 301401, 302500, 303601, 304704, 305809, 306916, 308025, 309136, 310249, 311364, 312481, 313600, 314721, 315844, 316969, 318096, 319225, 320356, 321489, 322624, 323761, 324900, 326041, 327184, 328329, 329476, 330625, 331776, 332929, 334084, 335241, 336400, 337561, 338724, 339889, 341056, 342225, 343396, 344569, 345744, 346921, 348100, 349281, 350464, 351649, 352836, 354025, 355216, 356409, 357604, 358801, 360000, 361201, 362404, 363609, 364816, 366025, 367236, 368449, 369664, 370881, 372100, 373321, 374544, 375769, 376996, 378225, 379456, 380689, 381924, 383161, 384400, 385641, 386884, 388129, 389376, 390625, 391876, 393129, 394384, 395641, 396900, 398161, 399424, 400689, 401956, 403225, 404496, 405769, 407044, 408321, 409600, 410881, 412164, 413449, 414736, 416025, 417316, 418609, 419904, 421201, 422500, 423801, 425104, 426409, 427716, 429025, 430336, 431649, 432964, 434281, 435600, 436921, 438244, 439569, 440896, 442225, 443556, 444889, 446224, 447561, 448900, 450241, 451584, 452929, 454276, 455625, 456976, 458329, 459684, 461041, 462400, 463761, 465124, 466489, 467856, 469225, 470596, 471969, 473344, 474721, 476100, 477481, 478864, 480249, 481636, 483025, 484416, 485809, 487204, 488601, 490000, 491401, 492804, 494209, 495616, 497025, 498436, 499849, 501264, 502681, 504100, 505521, 506944, 508369, 509796, 511225, 512656, 514089, 515524, 516961, 518400, 519841, 521284, 522729, 524176, 525625, 527076, 528529, 529984, 531441, 532900, 534361, 535824, 537289, 538756, 540225, 541696, 543169, 544644, 546121, 547600, 549081, 550564, 552049, 553536, 555025, 556516, 558009, 559504, 561001, 562500, 564001, 565504, 567009, 568516, 570025, 571536, 573049, 574564, 576081, 577600, 579121, 580644, 582169, 583696, 585225, 586756, 588289, 589824, 591361, 592900, 594441, 595984, 597529, 599076, 600625, 602176, 603729, 605284, 606841, 608400, 609961, 611524, 613089, 614656, 616225, 617796, 619369, 620944, 622521, 624100, 625681, 627264, 628849, 630436, 632025, 633616, 635209, 636804, 638401, 640000, 641601, 643204, 644809, 646416, 648025, 649636, 651249, 652864, 654481, 656100, 657721, 659344, 660969, 662596, 664225, 665856, 667489, 669124, 670761, 672400, 674041, 675684, 677329, 678976, 680625, 682276, 683929, 685584, 687241, 688900, 690561, 692224, 693889, 695556, 697225, 698896, 700569, 702244, 703921, 705600, 707281, 708964, 710649, 712336, 714025, 715716, 717409, 719104, 720801, 722500, 724201, 725904, 727609, 729316, 731025, 732736, 734449, 736164, 737881, 739600, 741321, 743044, 744769, 746496, 748225, 749956, 751689, 753424, 755161, 756900, 758641, 760384, 762129, 763876, 765625, 767376, 769129, 770884, 772641, 774400, 776161, 777924, 779689, 781456, 783225, 784996, 786769, 788544, 790321, 792100, 793881, 795664, 797449, 799236, 801025, 802816, 804609, 806404, 808201, 810000, 811801, 813604, 815409, 817216, 819025, 820836, 822649, 824464, 826281, 828100, 829921, 831744, 833569, 835396, 837225, 839056, 840889, 842724, 844561, 846400, 848241, 850084, 851929, 853776, 855625, 857476, 859329, 861184, 863041, 864900, 866761, 868624, 870489, 872356, 874225, 876096, 877969, 879844, 881721, 883600, 885481, 887364, 889249, 891136, 893025, 894916, 896809, 898704, 900601, 902500, 904401, 906304, 908209, 910116, 912025, 913936, 915849, 917764, 919681, 921600, 923521, 925444, 927369, 929296, 931225, 933156, 935089, 937024, 938961, 940900, 942841, 944784, 946729, 948676, 950625, 952576, 954529, 956484, 958441, 960400, 962361, 964324, 966289, 968256, 970225, 972196, 974169, 976144, 978121, 980100, 982081, 984064, 986049, 988036, 990025, 992016, 994009, 996004, 998001], None, 4.76837158203125e-07]]

In [5]:
(cut [(import [time [time]])
(setv a (np.arange 1000))
(setv time1 (time))
(** a 2)
(setv time2 (time))
(- time2 time1)] 3 6)

[[array([     0,      1,      4,      9,     16,     25,     36,     49,
           64,     81,    100,    121,    144,    169,    196,    225,
          256,    289,    324,    361,    400,    441,    484,    529,
          576,    625,    676,    729,    784,    841,    900,    961,
         1024,   1089,   1156,   1225,   1296,   1369,   1444,   1521,
         1600,   1681,   1764,   1849,   1936,   2025,   2116,   2209,
         2304,   2401,   2500,   2601,   2704,   2809,   2916,   3025,
         3136,   3249,   3364,   3481,   3600,   3721,   3844,   3969,
         4096,   4225,   4356,   4489,   4624,   4761,   4900,   5041,
         5184,   5329,   5476,   5625,   5776,   5929,   6084,   6241,
         6400,   6561,   6724,   6889,   7056,   7225,   7396,   7569,
         7744,   7921,   8100,   8281,   8464,   8649,   8836,   9025,
         9216,   9409,   9604,   9801,  10000,  10201,  10404,  10609,
        10816,  11025,  11236,  11449,  11664,  11881,  12100,  12321,
        12544,  12769,  12996,  13225,  13456,  13689,  13924,  14161,
        14400,  14641,  14884,  15129,  15376,  15625,  15876,  16129,
        16384,  16641,  16900,  17161,  17424,  17689,  17956,  18225,
        18496,  18769,  19044,  19321,  19600,  19881,  20164,  20449,
        20736,  21025,  21316,  21609,  21904,  22201,  22500,  22801,
        23104,  23409,  23716,  24025,  24336,  24649,  24964,  25281,
        25600,  25921,  26244,  26569,  26896,  27225,  27556,  27889,
        28224,  28561,  28900,  29241,  29584,  29929,  30276,  30625,
        30976,  31329,  31684,  32041,  32400,  32761,  33124,  33489,
        33856,  34225,  34596,  34969,  35344,  35721,  36100,  36481,
        36864,  37249,  37636,  38025,  38416,  38809,  39204,  39601,
        40000,  40401,  40804,  41209,  41616,  42025,  42436,  42849,
        43264,  43681,  44100,  44521,  44944,  45369,  45796,  46225,
        46656,  47089,  47524,  47961,  48400,  48841,  49284,  49729,
        50176,  50625,  51076,  51529,  51984,  52441,  52900,  53361,
        53824,  54289,  54756,  55225,  55696,  56169,  56644,  57121,
        57600,  58081,  58564,  59049,  59536,  60025,  60516,  61009,
        61504,  62001,  62500,  63001,  63504,  64009,  64516,  65025,
        65536,  66049,  66564,  67081,  67600,  68121,  68644,  69169,
        69696,  70225,  70756,  71289,  71824,  72361,  72900,  73441,
        73984,  74529,  75076,  75625,  76176,  76729,  77284,  77841,
        78400,  78961,  79524,  80089,  80656,  81225,  81796,  82369,
        82944,  83521,  84100,  84681,  85264,  85849,  86436,  87025,
        87616,  88209,  88804,  89401,  90000,  90601,  91204,  91809,
        92416,  93025,  93636,  94249,  94864,  95481,  96100,  96721,
        97344,  97969,  98596,  99225,  99856, 100489, 101124, 101761,
       102400, 103041, 103684, 104329, 104976, 105625, 106276, 106929,
       107584, 108241, 108900, 109561, 110224, 110889, 111556, 112225,
       112896, 113569, 114244, 114921, 115600, 116281, 116964, 117649,
       118336, 119025, 119716, 120409, 121104, 121801, 122500, 123201,
       123904, 124609, 125316, 126025, 126736, 127449, 128164, 128881,
       129600, 130321, 131044, 131769, 132496, 133225, 133956, 134689,
       135424, 136161, 136900, 137641, 138384, 139129, 139876, 140625,
       141376, 142129, 142884, 143641, 144400, 145161, 145924, 146689,
       147456, 148225, 148996, 149769, 150544, 151321, 152100, 152881,
       153664, 154449, 155236, 156025, 156816, 157609, 158404, 159201,
       160000, 160801, 161604, 162409, 163216, 164025, 164836, 165649,
       166464, 167281, 168100, 168921, 169744, 170569, 171396, 172225,
       173056, 173889, 174724, 175561, 176400, 177241, 178084, 178929,
       179776, 180625, 181476, 182329, 183184, 184041, 184900, 185761,
       186624, 187489, 188356, 189225, 190096, 190969, 191844, 192721,
       193600, 194481, 195364, 196249, 197136, 198025, 198916, 199809,
       200704, 201601, 202500, 203401, 204304, 205209, 206116, 207025,
       207936, 208849, 209764, 210681, 211600, 212521, 213444, 214369,
       215296, 216225, 217156, 218089, 219024, 219961, 220900, 221841,
       222784, 223729, 224676, 225625, 226576, 227529, 228484, 229441,
       230400, 231361, 232324, 233289, 234256, 235225, 236196, 237169,
       238144, 239121, 240100, 241081, 242064, 243049, 244036, 245025,
       246016, 247009, 248004, 249001, 250000, 251001, 252004, 253009,
       254016, 255025, 256036, 257049, 258064, 259081, 260100, 261121,
       262144, 263169, 264196, 265225, 266256, 267289, 268324, 269361,
       270400, 271441, 272484, 273529, 274576, 275625, 276676, 277729,
       278784, 279841, 280900, 281961, 283024, 284089, 285156, 286225,
       287296, 288369, 289444, 290521, 291600, 292681, 293764, 294849,
       295936, 297025, 298116, 299209, 300304, 301401, 302500, 303601,
       304704, 305809, 306916, 308025, 309136, 310249, 311364, 312481,
       313600, 314721, 315844, 316969, 318096, 319225, 320356, 321489,
       322624, 323761, 324900, 326041, 327184, 328329, 329476, 330625,
       331776, 332929, 334084, 335241, 336400, 337561, 338724, 339889,
       341056, 342225, 343396, 344569, 345744, 346921, 348100, 349281,
       350464, 351649, 352836, 354025, 355216, 356409, 357604, 358801,
       360000, 361201, 362404, 363609, 364816, 366025, 367236, 368449,
       369664, 370881, 372100, 373321, 374544, 375769, 376996, 378225,
       379456, 380689, 381924, 383161, 384400, 385641, 386884, 388129,
       389376, 390625, 391876, 393129, 394384, 395641, 396900, 398161,
       399424, 400689, 401956, 403225, 404496, 405769, 407044, 408321,
       409600, 410881, 412164, 413449, 414736, 416025, 417316, 418609,
       419904, 421201, 422500, 423801, 425104, 426409, 427716, 429025,
       430336, 431649, 432964, 434281, 435600, 436921, 438244, 439569,
       440896, 442225, 443556, 444889, 446224, 447561, 448900, 450241,
       451584, 452929, 454276, 455625, 456976, 458329, 459684, 461041,
       462400, 463761, 465124, 466489, 467856, 469225, 470596, 471969,
       473344, 474721, 476100, 477481, 478864, 480249, 481636, 483025,
       484416, 485809, 487204, 488601, 490000, 491401, 492804, 494209,
       495616, 497025, 498436, 499849, 501264, 502681, 504100, 505521,
       506944, 508369, 509796, 511225, 512656, 514089, 515524, 516961,
       518400, 519841, 521284, 522729, 524176, 525625, 527076, 528529,
       529984, 531441, 532900, 534361, 535824, 537289, 538756, 540225,
       541696, 543169, 544644, 546121, 547600, 549081, 550564, 552049,
       553536, 555025, 556516, 558009, 559504, 561001, 562500, 564001,
       565504, 567009, 568516, 570025, 571536, 573049, 574564, 576081,
       577600, 579121, 580644, 582169, 583696, 585225, 586756, 588289,
       589824, 591361, 592900, 594441, 595984, 597529, 599076, 600625,
       602176, 603729, 605284, 606841, 608400, 609961, 611524, 613089,
       614656, 616225, 617796, 619369, 620944, 622521, 624100, 625681,
       627264, 628849, 630436, 632025, 633616, 635209, 636804, 638401,
       640000, 641601, 643204, 644809, 646416, 648025, 649636, 651249,
       652864, 654481, 656100, 657721, 659344, 660969, 662596, 664225,
       665856, 667489, 669124, 670761, 672400, 674041, 675684, 677329,
       678976, 680625, 682276, 683929, 685584, 687241, 688900, 690561,
       692224, 693889, 695556, 697225, 698896, 700569, 702244, 703921,
       705600, 707281, 708964, 710649, 712336, 714025, 715716, 717409,
       719104, 720801, 722500, 724201, 725904, 727609, 729316, 731025,
       732736, 734449, 736164, 737881, 739600, 741321, 743044, 744769,
       746496, 748225, 749956, 751689, 753424, 755161, 756900, 758641,
       760384, 762129, 763876, 765625, 767376, 769129, 770884, 772641,
       774400, 776161, 777924, 779689, 781456, 783225, 784996, 786769,
       788544, 790321, 792100, 793881, 795664, 797449, 799236, 801025,
       802816, 804609, 806404, 808201, 810000, 811801, 813604, 815409,
       817216, 819025, 820836, 822649, 824464, 826281, 828100, 829921,
       831744, 833569, 835396, 837225, 839056, 840889, 842724, 844561,
       846400, 848241, 850084, 851929, 853776, 855625, 857476, 859329,
       861184, 863041, 864900, 866761, 868624, 870489, 872356, 874225,
       876096, 877969, 879844, 881721, 883600, 885481, 887364, 889249,
       891136, 893025, 894916, 896809, 898704, 900601, 902500, 904401,
       906304, 908209, 910116, 912025, 913936, 915849, 917764, 919681,
       921600, 923521, 925444, 927369, 929296, 931225, 933156, 935089,
       937024, 938961, 940900, 942841, 944784, 946729, 948676, 950625,
       952576, 954529, 956484, 958441, 960400, 962361, 964324, 966289,
       968256, 970225, 972196, 974169, 976144, 978121, 980100, 982081,
       984064, 986049, 988036, 990025, 992016, 994009, 996004, 998001]), None, 4.76837158203125e-07]]

In [6]:
(get a (slice 1 10 2))

[array([1, 3, 5, 7, 9])]

In [7]:
(get a (slice #*[1 10 2]))

[array([1, 3, 5, 7, 9])]

In [8]:
(get a 1)

[1]

In [9]:
(setv a (np.array [[0 1 2 3 4 5]
     [10 11 12 13 14 15]
     [20 21 22 23 24 25]
     [30 31 32 33 34 35]
     [40 41 42 43 44 45]
     [50 51 52 53 54 55]]))

[None]

In [10]:
a

[array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])]

In [11]:
(get a 2)

[array([20, 21, 22, 23, 24, 25])]

In [12]:
(get a 2 3)

[23]

In [13]:
(get a [[0 1 2 3 4] [1 2 3 4 5]])

[array([ 1, 12, 23, 34, 45])]

In [14]:
(get a [(slice 3) [0 2 5]])

[array([[ 0,  2,  5],
       [10, 12, 15],
       [20, 22, 25]])]

In [15]:
(get a [(slice 3 6) [0 2 5]])

[array([[30, 32, 35],
       [40, 42, 45],
       [50, 52, 55]])]

In [16]:
(nget a 3: (, 1 2 3 4))

[array([[31, 32, 33, 34],
       [41, 42, 43, 44],
       [51, 52, 53, 54]])]

In [17]:
#s(a 3: (, 1 2 3 4))

[array([[31, 32, 33, 34],
       [41, 42, 43, 44],
       [51, 52, 53, 54]])]

In [18]:
#s(a 3:6 [0 2 5])

[array([[30, 32, 35],
       [40, 42, 45],
       [50, 52, 55]])]

In [19]:
#s(a [0 2 5] ::2)

[array([[ 0,  2,  4],
       [20, 22, 24],
       [50, 52, 54]])]

In [20]:
#s(a 1:5:2 :4:3)

[array([[10, 13],
       [30, 33]])]

# 1.3.1.1. What are NumPy and NumPy arrays?
*Okay, now that I'm a little more familiar with Hy, let's begin the SciPy Lectures*

In [31]:
(import [numpy :as np])
(setv a (np.array [0 1 2 3]))
a

[None, None, array([0, 1, 2, 3])]

In [32]:
(import [time [time]])

[None]

In [33]:
(do (setv L (range 100000))
    (setv time0 (time))
    (lfor i L (** i 2))
    (setv time1 (time))
    (- time1 time0))

[0.022907018661499023]

In [34]:
(do (setv A (np.arange 100000))
    (setv time0 (time))
    (** A 2)
    (setv time1 (time))
    (- time1 time0))

[0.0003085136413574219]

In [35]:
(help np.array)

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

[None]

In [36]:
(np.lookfor "create array")

Traceback (most recent call last):
  File "/home/josiah/miniconda3/envs/scipy-lectures/lib/python3.7/site-packages/calysto_hy/kernel.py", line 137, in do_execute_direct
    eval(code, self.env)
  File "In [36]", line 1, in <module>
  File "/home/josiah/miniconda3/envs/scipy-lectures/lib/python3.7/site-packages/numpy/lib/utils.py", line 754, in lookfor
    cache = _lookfor_generate_cache(module, import_modules, regenerate)
  File "/home/josiah/miniconda3/envs/scipy-lectures/lib/python3.7/site-packages/numpy/lib/utils.py", line 906, in _lookfor_generate_cache
    for pth in item.__path__:
TypeError: 'NoneType' object is not iterable

In [ ]:
(. np cron * ?) ;; I haven't found a way to do the np.cron*? equivalent

# 1.3.1.2 Creating Arrays

## Manual construction of arrays

In [37]:
;; 1-D
(setv a (np.array [0 1 2 3]))
a
a.ndim
a.shape
(len a)

[None, array([0, 1, 2, 3]), 1, (4,), 4]

In [38]:
;; 2-D, 3-D, ...:
(setv b (np.array [[0 1 2] [3 4 5]]))
b
b.ndim
b.shape
(len b)

[None, array([[0, 1, 2],
       [3, 4, 5]]), 2, (2, 3), 2]

In [39]:
(setv c (np.array [[[1] [2]] [[3] [4]]]))
c
c.ndim
c.shape
(len c)

[None, array([[[1],
        [2]],

       [[3],
        [4]]]), 3, (2, 2, 1), 2]

In [40]:
;; Functions for creating arrays
; - Evenly spaced:
(setv a (np.arange 10)) ; 0 .. n - 1 (!)
a
(setv b (np.arange 1 9 2)) ; start, end (exclusive), step
b

[None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), None, array([1, 3, 5, 7])]

In [41]:
; - By number of points (still evenly spaced):
(setv c (np.linspace 0 1 6)) ; start, end, num-points
c
(setv d (np.linspace 0 1 5 :endpoint False))
d

[None, array([0. , 0.2, 0.4, 0.6, 0.8, 1. ]), None, array([0. , 0.2, 0.4, 0.6, 0.8])]

In [42]:
; - Common arrays:
(setv a (np.ones '(3 3)))
a
(setv b (np.zeros '(2 2 2)))
b
(setv c (np.eye 3))
c
(setv d (np.diag (np.array [1 2 3 4])))
d

[None, array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]]), None, array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]]), None, array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]]), None, array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])]

In [43]:
; - np.random: random numbers (Mersenne Twister PRNG)
(setv a (np.random.rand 4))       ; uniform in [0 1]
a
(setv b ((. np random randn) 4))  ; Gaussian
b
((. np random seed) 1234)         ; Setting the random seed
(setv c (np.random.randn 4))
c

[None, array([0.40397255, 0.40104025, 0.04406973, 0.99471655]), None, array([-0.92206284,  0.487367  ,  0.03475021,  0.00525865]), None, None, array([ 1.18213669,  2.16690119, -0.88927077,  0.47331407])]

In [44]:
(help np.empty)

Help on built-in function empty in module numpy.core.multiarray:

empty(...)
    empty(shape, dtype=float, order='C')

    Return a new array of given shape and type, without initializing entries.

    Parameters
    ----------
    shape : int or tuple of int
        Shape of the empty array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        Desired output data-type for the array, e.g, `numpy.int8`. Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.

    Returns
    -------
    out : ndarray
        Array of uninitialized (arbitrary) data of the given shape, dtype, and
        order.  Object arrays will be initialized to None.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    `empty`, unlike `zeros`, does not set the array values to zero,
    and may therefore be marginally faster.  On the other hand, it requires
    the user to manually set all the values in the array, and should be
    used with caution.

    Examples
    --------
    >>> np.empty([2, 2])
    array([[ -9.74499359e+001,   6.69583040e-309],
           [  2.13182611e-314,   3.06959433e-309]])         #random

    >>> np.empty([2, 2], dtype=int)
    array([[-1073741821, -1067949133],
           [  496041986,    19249760]])                     #random

[None]

In [45]:
(np.empty [3 2 4])

[array([[[4.64529432e-310, 6.93673045e-310, 0.00000000e+000,
         0.00000000e+000],
        [4.74303020e-322, 3.16202013e-322, 4.64529437e-310,
         3.16202013e-322]],

       [[4.64529437e-310, 6.93671342e-310, 6.93671342e-310,
         6.93671342e-310],
        [7.90505033e-322, 3.95252517e-322, 4.64529437e-310,
         6.93673045e-310]],

       [[4.64529430e-310, 4.64529441e-310, 0.00000000e+000,
         0.00000000e+000],
        [1.10670705e-321, 6.32404027e-322, 4.64529438e-310,
         5.58294180e-322]]])]

In [46]:
(np.eye 5) ; It's obvious this creates the identity matrix for the specified dimension

[array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])]

In [47]:
(np.eye 5 2)

[array([[1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])]

In [48]:
(np.eye 5 3 1)

[array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])]

In [49]:
(np.eye 5 3 2)

[array([[0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])]

In [50]:
(np.eye 5 3 0)

[array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])]

# 1.3.1.3 Basic data types

In [51]:
(setv a (np.array [1 2 3]))
a.dtype
(setv b (np.array [1. 2. 3.]))
b.dtype

[None, dtype('int64'), None, dtype('float64')]

In [52]:
; Explicitly setting the dtype
(setv c (np.array [1 2 3] :dtype float))
c.dtype

[None, dtype('float64')]

In [53]:
; The default dtype is floating point
(setv a (np.ones [3 3]))
a.dtype

[None, dtype('float64')]

In [54]:
(+ 2 (* 3 1j))

[(2+3j)]

In [55]:
;; Other types
; complex
(setv d (np.array [(+ 1 2j) (+ 3 4j) (+ 5 (* 6 1j))]))
d
d.dtype

[None, array([1.+2.j, 3.+4.j, 5.+6.j]), dtype('complex128')]

In [56]:
; bool
(setv e (np.array [True False False True]))
e
e.dtype

[None, array([ True, False, False,  True]), dtype('bool')]

In [57]:
; strings
(setv f (np.array ["Bonjour" "Hello" "Dia is Muera duit"]))
f
f.dtype

[None, array(['Bonjour', 'Hello', 'Dia is Muera duit'], dtype='<U17'), dtype('<U17')]

In [58]:
; and there's also others, like int32, int64, uint32, uint64, and probably more

[]

# 1.3.1.4 Basic visualization

In [59]:
(import [matplotlib.pyplot :as plt])

[None]

In [60]:
%matplotlib "Qt5Cairo"

In [61]:
; 1D plotting

[]

In [62]:
(setv x (np.linspace 0 3 20))
(setv y (np.linspace 0 9 20))
(plt.plot x y) ; line plot

[None, None, [<matplotlib.lines.Line2D object at 0x7fb172eb6ef0>]]

In [63]:
(plt.show) ;; Calysto_Hy doesn't yet support inline. See: https://github.com/Calysto/calysto_hy/issues/6

[None]

In [64]:
(plt.plot x y "o") ; dot plot

[[<matplotlib.lines.Line2D object at 0x7fb1704447b8>]]

In [65]:
(plt.show) ;; Will show separate window when executed

[None]

In [66]:
; 2D arrays (such as images):

[]

In [67]:
(setv image (np.random.rand 30 30))

[None]

In [68]:
(plt.imshow image :cmap plt.cm.hot)

In [69]:
(plt.colorbar)

In [70]:
(plt.show)

[None]

# 1.3.1.5 Indexing and Slicing

In [71]:
;; The items of a array can be accessed and assigned the same way as other Python sequences
(setv a (np.arange 10))
a
(, #s(a 0) #s(a 2) #s(a -1))

[None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), (0, 2, 9)]

In [72]:
;; The usual Python idiom for reversing a sequence is supported
#s(a ::-1)

[array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])]

In [73]:
;; For multidimensional arrays, indexes are tuples of integers
(setv a (np.diag (np.arange 3)))
a
#s(a 1 1)

[None, array([[0, 0, 0],
       [0, 1, 0],
       [0, 0, 2]]), 1]

In [74]:
(setv #s(a 2 1) 10)
a

[None, array([[ 0,  0,  0],
       [ 0,  1,  0],
       [ 0, 10,  2]])]

In [75]:
#s(a 1)

[array([0, 1, 0])]

**_NOTE:_**
- In 2D, the first dimension corresponds to rows, and the second to columns
- For multidimensional a, #s(a 0) is interpreted by taking all elements in the unspecified dimensions.

In [76]:
;; Slicing: Arrays, like other Python sequences can also be sliced.
(setv a (np.arange 10))
a
#s(a 2:9:3) ;; start:end:step

[None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([2, 5, 8])]

In [77]:
; Note that the last index is excluded!
#s(a :4)

[array([0, 1, 2, 3])]

In [78]:
; All three slice components are not required: by default, start is 0, end is len + 1, and
; step is 1
#s(a 1:3)
#s(a ::2)
#s(a 3:)

[array([1, 2]), array([0, 2, 4, 6, 8]), array([3, 4, 5, 6, 7, 8, 9])]

In [79]:
; You can also combine assignment and slicing
(setv a (np.arange 10))
a

[None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])]

In [80]:
(setv #s(a 5:) 10)
a

[None, array([ 0,  1,  2,  3,  4, 10, 10, 10, 10, 10])]

In [81]:
(setv b (np.arange 5))
b
(setv #s(a 5:) #s(b ::-1))
a

[None, array([0, 1, 2, 3, 4]), None, array([0, 1, 2, 3, 4, 4, 3, 2, 1, 0])]

## Exercise: Indexing and Slicing

Try the different flavors of slicing, using `start`, `end`, and `step`: starting
from a linspace, try to obtain odd numbers counting backwards, and even numbers
counting forwards

In [82]:
(setv a (np.linspace 0 38 20))
a
(setv b (np.linspace 39 1 20))
b
(setv c (np.linspace 0 40 41))
c
(setv [c0 c1] [#s(c ::2) #s(c -2::-2)])
c0
c1

[None, array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24.,
       26., 28., 30., 32., 34., 36., 38.]), None, array([39., 37., 35., 33., 31., 29., 27., 25., 23., 21., 19., 17., 15.,
       13., 11.,  9.,  7.,  5.,  3.,  1.]), None, array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40.]), None, array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24.,
       26., 28., 30., 32., 34., 36., 38., 40.]), array([39., 37., 35., 33., 31., 29., 27., 25., 23., 21., 19., 17., 15.,
       13., 11.,  9.,  7.,  5.,  3.,  1.])]

Reproduce the slices in the diagrams at the webpage just above this exercise.  Use the
provided expression to create the array if desired.

In [83]:
(setv a (+ (np.arange 6) #s((np.arange 0 51 10) : np.newaxis))) ; provided expr.
a

[None, array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])]

In [84]:
;; Explanation of the above:
;; np.arange 6 creates a row 0 .. 5, np.arange 0 51 10 creates a row 0 10 .. 50
;; : np.newaxis transposes the row to be a column
;; + adds the row 0 .. 5 and column 0 10 .. 50, producing the square matrix, above

[]

In [85]:
#s(a 0 3:5)
#s(a 4: 4:)
#s(a : 2)
#s(a 2::2 ::2)

[array([3, 4]), array([[44, 45],
       [54, 55]]), array([ 2, 12, 22, 32, 42, 52]), array([[20, 22, 24],
       [40, 42, 44]])]

## Exercise: Array Creation

Create the arrays shown in the Exercise on the webpage (they are actually matrices)

In [86]:
(setv a (np.ones [4 4] :dtype int))
(setv #s(a 3 1) 6)
(setv #s(a 2 3) 2)
a

[None, None, None, array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 6, 1, 1]])]

In [87]:
#s((np.diag (np.arange 2 7 :dtype float) -1) : :-1)

[array([[0., 0., 0., 0., 0.],
       [2., 0., 0., 0., 0.],
       [0., 3., 0., 0., 0.],
       [0., 0., 4., 0., 0.],
       [0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 6.]])]

In [88]:
(help np.diag)

Help on function diag in module numpy.lib.twodim_base:

diag(v, k=0)
    Extract a diagonal or construct a diagonal array.

    See the more detailed documentation for ``numpy.diagonal`` if you use this
    function to extract a diagonal and wish to write to the resulting array;
    whether it returns a copy or a view depends on what version of numpy you
    are using.

    Parameters
    ----------
    v : array_like
        If `v` is a 2-D array, return a copy of its `k`-th diagonal.
        If `v` is a 1-D array, return a 2-D array with `v` on the `k`-th
        diagonal.
    k : int, optional
        Diagonal in question. The default is 0. Use `k>0` for diagonals
        above the main diagonal, and `k<0` for diagonals below the main
        diagonal.

    Returns
    -------
    out : ndarray
        The extracted diagonal or constructed diagonal array.

    See Also
    --------
    diagonal : Return specified diagonals.
    diagflat : Create a 2-D array with the flattened input as a diagonal.
    trace : Sum along diagonals.
    triu : Upper triangle of an array.
    tril : Lower triangle of an array.

    Examples
    --------
    >>> x = np.arange(9).reshape((3,3))
    >>> x
    array([[0, 1, 2],
           [3, 4, 5],
           [6, 7, 8]])

    >>> np.diag(x)
    array([0, 4, 8])
    >>> np.diag(x, k=1)
    array([1, 5])
    >>> np.diag(x, k=-1)
    array([3, 7])

    >>> np.diag(np.diag(x))
    array([[0, 0, 0],
           [0, 4, 0],
           [0, 0, 8]])

[None]

## Exercise: Tiling for array creation

In [89]:
(setv a (.reshape (np.tile [2 1] 12) [4 6]))
(setv #s(a ::2) (+ 2 #s(a 1)))
a

[None, None, array([[4, 3, 4, 3, 4, 3],
       [2, 1, 2, 1, 2, 1],
       [4, 3, 4, 3, 4, 3],
       [2, 1, 2, 1, 2, 1]])]

In [90]:
; A better approach
(np.tile [[4 3] [2 1]] [2 3])

[array([[4, 3, 4, 3, 4, 3],
       [2, 1, 2, 1, 2, 1],
       [4, 3, 4, 3, 4, 3],
       [2, 1, 2, 1, 2, 1]])]

In [91]:
(help np.tile)

Help on function tile in module numpy.lib.shape_base:

tile(A, reps)
    Construct an array by repeating A the number of times given by reps.

    If `reps` has length ``d``, the result will have dimension of
    ``max(d, A.ndim)``.

    If ``A.ndim < d``, `A` is promoted to be d-dimensional by prepending new
    axes. So a shape (3,) array is promoted to (1, 3) for 2-D replication,
    or shape (1, 1, 3) for 3-D replication. If this is not the desired
    behavior, promote `A` to d-dimensions manually before calling this
    function.

    If ``A.ndim > d``, `reps` is promoted to `A`.ndim by pre-pending 1's to it.
    Thus for an `A` of shape (2, 3, 4, 5), a `reps` of (2, 2) is treated as
    (1, 1, 2, 2).

    Note : Although tile may be used for broadcasting, it is strongly
    recommended to use numpy's broadcasting operations and functions.

    Parameters
    ----------
    A : array_like
        The input array.
    reps : array_like
        The number of repetitions of `A` along each axis.

    Returns
    -------
    c : ndarray
        The tiled output array.

    See Also
    --------
    repeat : Repeat elements of an array.
    broadcast_to : Broadcast an array to a new shape

    Examples
    --------
    >>> a = np.array([0, 1, 2])
    >>> np.tile(a, 2)
    array([0, 1, 2, 0, 1, 2])
    >>> np.tile(a, (2, 2))
    array([[0, 1, 2, 0, 1, 2],
           [0, 1, 2, 0, 1, 2]])
    >>> np.tile(a, (2, 1, 2))
    array([[[0, 1, 2, 0, 1, 2]],
           [[0, 1, 2, 0, 1, 2]]])

    >>> b = np.array([[1, 2], [3, 4]])
    >>> np.tile(b, 2)
    array([[1, 2, 1, 2],
           [3, 4, 3, 4]])
    >>> np.tile(b, (2, 1))
    array([[1, 2],
           [3, 4],
           [1, 2],
           [3, 4]])

    >>> c = np.array([1,2,3,4])
    >>> np.tile(c,(4,1))
    array([[1, 2, 3, 4],
           [1, 2, 3, 4],
           [1, 2, 3, 4],
           [1, 2, 3, 4]])

[None]

# 1.3.1.6 Copies and views

A slicing operation creates a **view** on the original array, which is just a way of accessing array data.  Thus, the original array is not copied in memory.  You can use `np.may_share_memory()` to check if two arrays share the same memory block.  Note, however, that this uses heuristics and may give you false positives.

**When modifying the view, the original array is also modified**

In [92]:
(setv a (np.arange 10))
a

[None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])]

In [93]:
(setv b #s(a ::2))
b

[None, array([0, 2, 4, 6, 8])]

In [94]:
(np.may_share_memory a b)

[True]

In [97]:
(setv #s(b 0) 12)
b
a ;; (!) Notice a changes in the result, below

[None, array([12,  2,  4,  6,  8]), array([12,  1,  2,  3,  4,  5,  6,  7,  8,  9])]

In [100]:
(setv a (np.arange 10))
(setv c (.copy #s(a ::2))) ;; force a copy
(setv #s(c 0) 12)
a

[None, None, None, array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])]

In [101]:
(np.may_share_memory a c)

[False]

This behavior might seem surprising at first... but it was intentionally chosen for both space and time efficiency

## Worked example: Prime number sieve
![Prime Number Sieve](https://scipy-lectures.org/_images/prime-sieve.png)
Compute prime numbers in 0-99, with a sieve
- Construct a shape (100,) boolean array `is_prime`, filled with `True` in the beginning:

In [103]:
(setv is-prime (np.ones [100] :dtype bool))
is-prime

[None, array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])]

- Cross out 0 and 1, which are not primes:

In [104]:
(setv #s(is-prime :2) 0)
is-prime

[None, array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])]

- For each integer, `j`, starting from `2`, cross out its higher multiples:

In [134]:
(do
    (setv N-max (int (np.sqrt (- (len is-prime) 1))))
    (lfor j (range 2 (+ N-max 1))
         (setv (get is-prime (slice (* 2 j) None j)) False))  ;; nget should handle non-literals
    is-prime)

[array([False, False,  True,  True, False,  True, False,  True, False,
       False, False,  True, False,  True, False, False, False,  True,
       False,  True, False, False, False,  True, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False,  True, False, False, False,  True, False,  True, False,
       False, False,  True, False, False, False, False, False,  True,
       False, False, False, False, False,  True, False,  True, False,
       False, False, False, False,  True, False, False, False,  True,
       False,  True, False, False, False, False, False,  True, False,
       False, False,  True, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False])]

- Skim through `help(np.nonzero)`, and print the prime numbers

In [135]:
(help np.nonzero)

Help on function nonzero in module numpy.core.fromnumeric:

nonzero(a)
    Return the indices of the elements that are non-zero.

    Returns a tuple of arrays, one for each dimension of `a`,
    containing the indices of the non-zero elements in that
    dimension. The values in `a` are always tested and returned in
    row-major, C-style order. The corresponding non-zero
    values can be obtained with::

        a[nonzero(a)]

    To group the indices by element, rather than dimension, use::

        transpose(nonzero(a))

    The result of this is always a 2-D array, with a row for
    each non-zero element.

    Parameters
    ----------
    a : array_like
        Input array.

    Returns
    -------
    tuple_of_arrays : tuple
        Indices of elements that are non-zero.

    See Also
    --------
    flatnonzero :
        Return indices that are non-zero in the flattened version of the input
        array.
    ndarray.nonzero :
        Equivalent ndarray method.
    count_nonzero :
        Counts the number of non-zero elements in the input array.

    Examples
    --------
    >>> x = np.array([[1,0,0], [0,2,0], [1,1,0]])
    >>> x
    array([[1, 0, 0],
           [0, 2, 0],
           [1, 1, 0]])
    >>> np.nonzero(x)
    (array([0, 1, 2, 2]), array([0, 1, 0, 1]))

    >>> x[np.nonzero(x)]
    array([1, 2, 1, 1])
    >>> np.transpose(np.nonzero(x))
    array([[0, 0],
           [1, 1],
           [2, 0],
           [2, 1])

    A common use for ``nonzero`` is to find the indices of an array, where
    a condition is True.  Given an array `a`, the condition `a` > 3 is a
    boolean array and since False is interpreted as 0, np.nonzero(a > 3)
    yields the indices of the `a` where the condition is true.

    >>> a = np.array([[1,2,3],[4,5,6],[7,8,9]])
    >>> a > 3
    array([[False, False, False],
           [ True,  True,  True],
           [ True,  True,  True]])
    >>> np.nonzero(a > 3)
    (array([1, 1, 1, 2, 2, 2]), array([0, 1, 2, 0, 1, 2]))

    The ``nonzero`` method of the boolean array can also be called.

    >>> (a > 3).nonzero()
    (array([1, 1, 1, 2, 2, 2]), array([0, 1, 2, 0, 1, 2]))

[None]

In [137]:
(.nonzero is-prime)

[(array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59,
       61, 67, 71, 73, 79, 83, 89, 97]),)]

_I decided to skip the follow-up since I didn't think I would gain much from doing it_

# 1.3.1.7 Fancy indexing

NumPy arrays can be indexed with slices, but also with boolean or integer arrays (**masks**). This method is called _fancy indexing_. It creates **copies, not views**.

## Using boolean masks

In [139]:
((. np random seed) 3)
(setv a ((. np random randint) 0 21 15))
a

[None, None, array([13, 19, 10, 12, 18, 12,  6, 18, 17,  6,  7,  0, 13, 19, 19])]

In [140]:
(= (% a 3) 0)

[array([False, False, False,  True,  True,  True,  True,  True, False,
        True, False,  True, False, False, False])]

In [141]:
(setv mask (= (% a 3) 0))
(setv extract-from-a #s(a mask))
extract-from-a

[None, None, array([12, 18, 12,  6, 18,  6,  0])]

Indexing with a mask can be very useful to assign a new value to a sub-array:

In [142]:
(setv #s(a (= (% a 3) 0)) -1)
a

[None, array([13, 19, 10, -1, -1, -1, -1, -1, 17, -1,  7, -1, 13, 19, 19])]

## Indexing with an array of integers

In [143]:
(setv a (np.arange 0 100 10))
a

[None, array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])]

Indexing can be done with an array of integers, where the same index is repeated several times:

In [144]:
#s(a [2 3 2 4 2])

[array([20, 30, 20, 40, 20])]

New values can be assigned with this kind of indexing:

In [145]:
(setv #s(a [9 7]) -100)
a

[None, array([   0,   10,   20,   30,   40,   50,   60, -100,   80, -100])]

When a new array is created by indexing with an array of integers, the new array has the same shape as the array of integers:

In [146]:
(setv a (np.arange 10))
(setv idx (np.array [[3 4] [9 7]]))
idx.shape
#s(a idx)

[None, None, (2, 2), array([[3, 4],
       [9, 7]])]

The image below illustrates various fancy indexing applications:
![Fancy Indexing](https://scipy-lectures.org/_images/numpy_fancy_indexing.png)

## Exercise: Fancy Indexing

- Reproduce the fancy indexing shown in the above diagram

In [154]:
(setv a (+ (np.arange 6) #s((* 10 (np.arange 6)) : np.newaxis)))
a

[None, array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])]

In [155]:
#s(a [0 1 2 3 4] [1 2 3 4 5])

[array([ 1, 12, 23, 34, 45])]

In [156]:
#s(a 3: [0 2 5])

[array([[30, 32, 35],
       [40, 42, 45],
       [50, 52, 55]])]

In [157]:
(setv mask (np.array [1 0 1 0 0 1] :dtype bool))
#s(a mask 2)

[None, array([ 2, 22, 52])]

- Use fancy indexing on the left and array creation on the right to assign values into an array, for instance by setting parts of the array in the diagram above to zero.

In [166]:
; I had to guess at what they wanted, here.  I'm pretty sure this is close...
(setv #s(a (= (% a 5) 0)) 0)
a

[None, array([[ 0,  1,  2,  3,  4,  0],
       [ 0, 11, 12, 13, 14,  0],
       [ 0, 21, 22, 23, 24,  0],
       [ 0, 31, 32, 33, 34,  0],
       [ 0, 41, 42, 43, 44,  0],
       [ 0, 51, 52, 53, 54,  0]])]